<template>
  <div>
    <div class="pa-12" style="text-align: left;">
      <div class="text-center" style="text-align: center">
        <div class="display-2 mb-12">🌎☀️</div>
        <h1 class="display-2 mb-12">We are The Blue Stained People of Earth</h1>
        <h2 class="display-1">A Local Community Service Company based in Trenton Missouri</h2>
        <!--
        <h2 class="display-1">👋</h2>
        <h2 class="display-1">Welcome, Trenton Missouri</h2>
        -->
        <!--
        <div class="ma-6">
          <b>The Blue Stained People</b> is a <b>community service company</b> that
    provides services for local community members to benefit from.
        </div>
        <div class="mb-12">
          <div><b>The Blue Stained People</b> Organization has sold</div><br><br>
          <div class="headline ma-5">$0 in coupons in the last week</div>
          <div class="headline ma-5">$0 in coupons in the lifespan of the company</div>
          <div>since December 21, 2019</div>
        </div>
        <div class="headline">All Service Coupon Transaction Sales</div>
        <TransactionHistoryList />
        -->
      </div>
      <div class="text-center">
        <v-btn class="primary ma-12" @click="toggleShowPurchaseCouponDialog(true)">Buy a $50 Service Coupon</v-btn>
      </div>
      <div><b>Buying a coupon</b> is a promise to create a new services for the community members of Trenton. Creating a new services means you are directly <b>feeding money to people who need money to do</b>. For example: <u>working labor</u>, <u>scientific research</u> and <u>self education</u></div>
      <div class="text-center">
        <h1 class="headline ma-12">Activate Your Service Coupon Here</h1>
      </div>
      <div>
        <div class="mb-12">Upon activating your coupon, a service will be notified that your interest in its achievement is completed.</div>
        <v-text-field outlined label="Coupon Activation Code" placeholder="ie. uiwe348DFoiwer8w34keREI"></v-text-field>
        <div class="mb-12" v-show="false">This coupon has <b>2 more services available to activate</b></div>
      </div>
      <div class="text-center">
        <SearchService />
      </div>
      <div class="text-center">
        <h1 class="headline ma-12">We are always hiring new people!</h1>
      </div>
      <div>
        <div>We are the Blue Stained People and <b>we are hiring people with all skill levels</b>. Whether you are an entrepreneur or business woman or man or an engineer in practice or a conveyor belt person working on the assembly line, we have a position for you no matter what you prefer to do as a person of our neighbor.
        <br><br>
        <b>Fill out the application form below</b> to consider a job with our people:</div>
      </div>
      <div class="text-center">
        <h1 class="headline ma-12">Paid Volunteer Salary Information</h1>
      </div>
      <div>
        🌟 Your Paid mount would be <b>$0 per week</b>
        <br><br>
        🌟 the salary is based on the number of coupons sold in the last week
        <br><br>
        🌟 everyone receives the same paycheck
        <br><br>
        🌟 the term <b>"mount"</b> refers to the amount you'll be paid per week. In addition to any source of income an individual receives, a mount of the listed amount of money will be provided 
        <b>on top of</b> whatever salary is being claimed.
      </div>
      <div class="text-center">
        <h1 class="headline ma-12">Paid Volunteer Application Form</h1>
      </div>
      <div>
        <v-text-field outlined label="Your Name" placeholder="Jane Smith"></v-text-field>
        <v-text-field outlined label="Your Home Address (to receive coupons)" placeholder="720 Bettysfield Avenue Trenton Missouri 64683"></v-text-field>
        <v-text-field outlined label="Email Address (to receive your paycheck)" placeholder="someone@gmail.com"></v-text-field>
        <v-text-field outlined label="PayPal (optional paycheck method)" placeholder="https://paypal.me/janesmith"></v-text-field>
        <v-text-field outlined label="What service would you be interested in providing?" placeholder="Person-to-person: talking in person"></v-text-field>
        <v-text-field outlined label="Why are you interested in providing this service to the community?" placeholder="I like to talk to people"></v-text-field>
        <div>Look below for a list of examples of services you may wish to provide.</div>
      </div>
      <div class="text-center">
        <v-btn class="primary mt-12 mb-12">Apply Now: Submit Job Application</v-btn>
      </div>
      <div class="text-center ma-10">
        <h1 class="headline ma-12">Job Application: Example Service Roles</h1>
        
        <v-expansion-panels>
          <v-expansion-panel v-for="(item,i) in exampleServiceList" :key="i">
            <v-expansion-panel-header>{{ item.title }}</v-expansion-panel-header>
            <v-expansion-panel-content style="text-align: left !important;">
              <b>Why provide this service?</b><br><br>
              {{ item.description }}
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </div>
      <div class="text-center">
        <h1 class="display-1">The Blue Stained People</h1>
        <h2 class="headline ma-5">Everyone: Give us Your money</h2>
      </div>
      <div>
          The Blue Stained People puts people first. We are an organization
          based in Trenton, Missouri USA as of today in early January
          2020.
          <br><br>
          The Blue Stained People are a group of individuals responsible
          for activating community participation on a soul-to-soul basis.
          <br><br>
          A soul-to-soul basis means people need to communicate with one
          another with disciplined empathy and resolve to solve the problems
          in today’s society.
          <br><br>
          We, the Blue Stained People, are hiring anyone with the resolve to
          solve the problems that plague society such as “human-bullet
          penetration” “disease-conflict” “self-education in sexual
          matters” and reorganizing the living environment of our people from
          house-to-house to enhance the human condition for everyone at
          an affordable price.
          <br><br>
          Each coupon is worth $50 and enables each person to 
          provide a service for themselves.
        </div>
      <div class="text-center">
        <v-btn class="primary ma-12" @click="toggleShowPurchaseCouponDialog(true)">Buy a $50 Service Coupon</v-btn>
      </div>
      <div>Humanity is awesome!</div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

import { Prop, Watch } from 'vue-property-decorator'

import { Mutation } from 'vuex-class'

import TransactionHistoryList from '@/components/TransactionHistoryList.vue'
import SearchService from '@/components/SearchService.vue'

@Component({
  components: {
    TransactionHistoryList,
    SearchService
  }
})
class Home extends Vue {
  @Mutation('toggleShowPurchaseCouponDialog') toggleShowPurchaseCouponDialog?: any

  exampleServiceList: any[] = [{
    title: `Washing people's cars`,
    description: `Washing someone's car is important to treat the person like you love them so much that their car needs to be cleaned for the purpose of treating them with friendly car cleaning service thank you i love you car having person have a clean car please thank you`
  }, {
    title: `Cleaning people's houses`,
    description: `Washing someone's car is important to treat the person like you love them so much that their car needs to be cleaned for the purpose of treating them with friendly car cleaning service thank you i love you car having person have a clean car please thank you`
  }, {
    title: `Self-education: Learn about making money`,
    description: `Washing someone's car is important to treat the person like you love them so much that their car needs to be cleaned for the purpose of treating them with friendly car cleaning service thank you i love you car having person have a clean car please thank you`
  }, {
    title: `Self-education: Learn about computer programming`,
    description: `Washing someone's car is important to treat the person like you love them so much that their car needs to be cleaned for the purpose of treating them with friendly car cleaning service thank you i love you car having person have a clean car please thank you`
  }, {
    title: `Research & Development: A new programming model`,
    description: `Washing someone's car is important to treat the person like you love them so much that their car needs to be cleaned for the purpose of treating them with friendly car cleaning service thank you i love you car having person have a clean car please thank you`
  }, {
    title: `Person-to-person: Talking`,
    description: `Washing someone's car is important to treat the person like you love them so much that their car needs to be cleaned for the purpose of treating them with friendly car cleaning service thank you i love you car having person have a clean car please thank you`
  }, {
    title: `Person-to-person: Talking over the phone`,
    description: `Washing someone's car is important to treat the person like you love them so much that their car needs to be cleaned for the purpose of treating them with friendly car cleaning service thank you i love you car having person have a clean car please thank you`
  }, {
    title: `Person-to-person: Clean cuddling & friendly social interaction`,
    description: `Washing someone's car is important to treat the person like you love them so much that their car needs to be cleaned for the purpose of treating them with friendly car cleaning service thank you i love you car having person have a clean car please thank you`
  }, {
    title: `Community Service: Volunteering at local pet store`,
    description: `Washing someone's car is important to treat the person like you love them so much that their car needs to be cleaned for the purpose of treating them with friendly car cleaning service thank you i love you car having person have a clean car please thank you`
  }, {
    title: `Community Service: Volunteering as ambulance assistant driver`,
    description: `Washing someone's car is important to treat the person like you love them so much that their car needs to be cleaned for the purpose of treating them with friendly car cleaning service thank you i love you car having person have a clean car please thank you`
  }, {
    title: `College Service: Tutor`,
    description: `Washing someone's car is important to treat the person like you love them so much that their car needs to be cleaned for the purpose of treating them with friendly car cleaning service thank you i love you car having person have a clean car please thank you`
  }]
}

export default Home
</script>
