<template>
  <div>
    <v-dialog v-model="isVisible" max-width="300">
      <v-card class="pa-6">
        <h1 class="headline">Congrautlations!</h1>
        <div>Your coupon is activated for the following service:</div>
        <div>Research & Development: Human-Bullet Protection</div>
        <div>Visit the "Your Services" page to see more services you've activated</div>
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

import { State, Mutation } from 'vuex-class'

@Component
class ActivateCouponSuccessDialog extends Vue {
  @State('showActivateCouponSuccessDialog') showActivateCouponSuccessDialog?: any

  @Mutation('toggleShowActivateCouponSuccessDialog') toggleShowActivateCouponSuccessDialog: any

  get isVisible (): boolean {
    return this.showActivateCouponSuccessDialog || false
  }

  set isVisible (value: boolean) {
    this.toggleShowActivateCouponSuccessDialog(value)
  }
}

export default ActivateCouponSuccessDialog
</script>