<template>
  <div>
    <v-dialog v-model="isVisible" max-width="450">
      <v-card class="pa-6">
        <h1 class="headline mb-10">Activate Your Service Coupon</h1>
        <!--
        <div class="mb-5">Your coupon with activation code <b>uiwe348DFoiwer8w34keREI</b> has <b>2 more service activations</b> left</div>
        -->
        <div class="mb-10">You are applying the coupon activation code <b>uiwe348DFoiwer8w34keREI</b> for the following service:</div>
        <!--
        <div class="mb-10">You are activating the following service:</div>
        -->
        <div class="headline mb-10" style="font-weight: bold">Self-Education Service: Help community members learn about computer programming</div>
        <v-textarea outlined label="Message (optional)" placeholder="I would like to receive this service"></v-textarea>
        <div>* You will have <b>2 service activations left</b> after applying this service activation</div>
        <div class="text-center">
          <v-btn class="primary ma-5">Activate Your Coupon</v-btn>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

import { State, Mutation } from 'vuex-class'

@Component
class ActivateCouponDialog extends Vue {
  @State('showActivateCouponDialog') showActivateCouponDialog?: any

  @Mutation('toggleShowActivateCouponDialog') toggleShowActivateCouponDialog: any

  get isVisible (): boolean {
    return this.showActivateCouponDialog || false
  }

  set isVisible (value: boolean) {
    this.toggleShowActivateCouponDialog(value)
  }
}

export default ActivateCouponDialog
</script>