<template>
  <div>
    <v-autocomplete
        v-model="model"
        :items="items"
        :loading="isLoading"
        :search-input.sync="search"
        chips
        clearable
        hide-details
        hide-selected
        item-text="name"
        item-value="symbol"
        label="Search for a service..."
        append-icon="search"
        solo
      >
        <template v-slot:no-data>
          <v-list-item>
            <v-list-item-title>
              Search for your favorite
              <strong>Cryptocurrency</strong>
            </v-list-item-title>
          </v-list-item>
        </template>
        <template v-slot:selection="{ attr, on, item, selected }">
          <v-chip
            v-bind="attr"
            :input-value="selected"
            color="blue-grey"
            class="white--text"
            v-on="on"
          >
            <v-icon left>mdi-coin</v-icon>
            <span v-text="item.name"></span>
          </v-chip>
        </template>
        <template v-slot:item="{ item }">
          <v-list-item-avatar
            color="indigo"
            class="headline font-weight-light white--text"
          >
            {{ item.name.charAt(0) }}
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title v-text="item.name"></v-list-item-title>
            <v-list-item-subtitle v-text="item.symbol"></v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-action>
            <v-icon>mdi-coin</v-icon>
          </v-list-item-action>
        </template>
      </v-autocomplete>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Watch } from 'vue-property-decorator'

@Component
class AutocompleteSearch extends Vue {
  isLoading: boolean = false
  items: any[] = []
  model: any = null
  search: any = null
  tab: any = null

  @Watch('model') modelWatcher (val: any) {
    if (val != null) this.tab = 0
    else this.tab = null
  }

  @Watch('search') searchWatcher (val: any) {
    // Items have already been loaded
    if (this.items.length > 0) return

    this.isLoading = true

    // Lazily load input items
    fetch('https://api.coinmarketcap.com/v2/listings/')
      .then(res => res.json())
      .then(res => {
        this.items = res.data
      })
      .catch(err => {
        console.log(err)
      })
      .finally(() => (this.isLoading = false))
      .catch(err => {
        return err
      })
  }
}

export default AutocompleteSearch
</script>