<template>
  <div>
    <div ref="container"></div>
  </div>
</template>
<script lang="ts">

let googlePayTotalPrice = 0

import Vue from 'vue'
import Component from 'vue-class-component'

import { Prop, Watch } from 'vue-property-decorator'

let baseRequest: any = { apiVersion: 2, apiVersionMinor: 0 }

let baseCardPaymentMethod: any = { type: 'CARD', parameters: {
  allowedAuthMethods: ['PAN_ONLY', 'CRYPTOGRAM_3DS'],
  allowedCardNetworks: ['AMEX', 'DISCOVER', 'JCB', 'MASTERCARD', 'VISA']
}}

const tokenizationSpecification = {
  type: 'PAYMENT_GATEWAY',
  parameters: { 'gateway': 'example', 'gatewayMerchantId': 'exampleGatewayMerchantId' }
}

let paymentsClient: any = null
let paymentToken: any = (window as any).paymentToken

let cardPaymentMethod: any = Object.assign({}, baseCardPaymentMethod, {
  tokenizationSpecification: tokenizationSpecification
})

@Component
class GooglePayButton extends Vue {
  @Prop() amount?: number

  @Watch('amount') amountWatcher (value: any) {
    googlePayTotalPrice = value
  }

  mounted () {
    let googlePayScript = document.createElement('script')
    googlePayScript.setAttribute('src', 'https://pay.google.com/gp/p/js/pay.js')
    document.head.appendChild(googlePayScript)
    googlePayScript.async = true
    googlePayScript.onload = (parameter) => {
      this.onGooglePayLoaded()
    }
  }

  // onGooglePayLoaded is called when the Google Pay script is loaded
  onGooglePayLoaded () {
    const self = this
    paymentsClient = this.getGooglePaymentsClient()
    paymentsClient.isReadyToPay(self.getGoogleIsReadyToPayRequest())
    .then(function (response: any) {
      if (response.result) {
        self.addGooglePayButton()
      }

    }).catch(function (err: any) {
      console.error(err)
    })
  }

  // getGooglePaymentsClient creates a universal client for opening a dialog
  getGooglePaymentsClient () {
    const self = this
    if (paymentsClient === null) {
      paymentsClient = new (window as any).google.payments.api.PaymentsClient({
        environment: 'TEST',
        merchantInfo: {
          merchantName: 'Example Merchant',
          merchantId: '01234567890123456789'
        },
        paymentDataCallbacks: {
          onPaymentAuthorized: () => { self.onPaymentAuthorized().catch(err => console.log(err)) },
          onPaymentDataChanged: () => { self.onPaymentDataChanged().catch(err => console.log(err)) }
        }
      })
      console.log('Creating paymentsClient', paymentsClient)
    }
    return paymentsClient
  }

  addGooglePayButton () {
    const self = this
    const paymentsClient = this.getGooglePaymentsClient()
    const button: any = paymentsClient.createButton({
      onClick: () => { self.onGooglePaymentButtonClicked() }
    })
    const element = (this.$refs['container'] as Element)
    element.appendChild(button)
  }

  getGoogleIsReadyToPayRequest () {

    return Object.assign({}, baseRequest, {
      allowedPaymentMethods: [baseCardPaymentMethod]
    })
  }

  onPaymentAuthorized (paymentData?: any) {
    const self = this
    return new Promise(function (resolve, reject) {
      self.processPayment(paymentData)
      .then(function () {
        resolve({ transactionState: 'SUCCESS' })
      }).catch(function () {
        resolve({
          transactionState: 'ERROR',
          error: {
            intent: 'PAYMENT_AUTHORIZATION',
            message: 'Insufficient funds',
            reason: 'PAYMENT_DATA_INVALID'
          }
        })
      })
    })
  }

  processPayment (paymentData: any) {
    return new Promise(function (resolve, reject) {
      setTimeout(function () {
        // show returned data in developer console for debugging
        // console.log(paymentData)
        // @todo pass payment token to your gateway to process payment
        // let paymentToken = (window as any).paymentToken
        paymentToken = paymentData.paymentMethodData.tokenizationData.token

        resolve({})
      }, 3000)
    })
  }

  onPaymentDataChanged (intermediatePaymentData?: any) {
    const self = this
    return new Promise(function (resolve, reject) {

      let shippingAddress = intermediatePaymentData.shippingAddress
      let shippingOptionData = intermediatePaymentData.shippingOptionData
      let paymentDataRequestUpdate: any = {}

      if (intermediatePaymentData.callbackTrigger === 'INITIALIZE' || intermediatePaymentData.callbackTrigger === 'SHIPPING_ADDRESS') {
        if (shippingAddress.administrativeArea === 'NJ') {
          paymentDataRequestUpdate.error = self.getGoogleUnserviceableAddressError()
        } else {
          paymentDataRequestUpdate.newShippingOptionParameters = self.getGoogleDefaultShippingOptions()
          let selectedShippingOptionId = paymentDataRequestUpdate.newShippingOptionParameters.defaultSelectedOptionId
          paymentDataRequestUpdate.newTransactionInfo = self.calculateNewTransactionInfo(selectedShippingOptionId)
        }
      } else if (intermediatePaymentData.callbackTrigger === 'SHIPPING_OPTION') {
        paymentDataRequestUpdate.newTransactionInfo = self.calculateNewTransactionInfo(shippingOptionData.id)
      }

      resolve(paymentDataRequestUpdate)
    })
  }

  onGooglePaymentButtonClicked () {
    const paymentDataRequest: any = this.getGooglePaymentDataRequest()
    paymentDataRequest.transactionInfo = this.getGoogleTransactionInfo()

    const paymentsClient = this.getGooglePaymentsClient()
    paymentsClient.loadPaymentData(paymentDataRequest)
  }

  getGoogleUnserviceableAddressError () {
    return {
      reason: 'SHIPPING_ADDRESS_UNSERVICEABLE',
      message: 'Cannot ship to the selected address',
      intent: 'SHIPPING_ADDRESS'
    }
  }

  getGoogleDefaultShippingOptions () {
    return {
      defaultSelectedOptionId: 'shipping-001',
      shippingOptions: [{
        'id': 'shipping-001',
        'label': 'Free: Standard shipping',
        'description': 'Free Shipping delivered in 5 business days.'
      },
      {
        'id': 'shipping-002',
        'label': '$1.99: Standard shipping',
        'description': 'Standard shipping delivered in 3 business days.'
      },
      {
        'id': 'shipping-003',
        'label': '$10: Express shipping',
        'description': 'Express shipping delivered in 1 business day.'
      }]
    }
  }

  getGooglePaymentDataRequest () {
    const paymentDataRequest = Object.assign({}, baseRequest)
    paymentDataRequest.allowedPaymentMethods = [cardPaymentMethod]
    paymentDataRequest.transactionInfo = this.getGoogleTransactionInfo()
    paymentDataRequest.merchantInfo = {
      // @todo a merchant ID is available for a production environment after approval by Google
      // See {@link https://developers.google.com/pay/api/web/guides/test-and-deploy/integration-checklist|Integration checklist}
      // merchantId: '01234567890123456789',
      merchantName: 'Example Merchant'
    }

    paymentDataRequest.callbackIntents = ['SHIPPING_ADDRESS', 'SHIPPING_OPTION', 'PAYMENT_AUTHORIZATION']
    paymentDataRequest.shippingAddressRequired = true
    paymentDataRequest.shippingAddressParameters = this.getGoogleShippingAddressParameters()
    paymentDataRequest.shippingOptionRequired = true

    return paymentDataRequest
  }

  calculateNewTransactionInfo (shippingOptionId: any) {
    let newTransactionInfo = this.getGoogleTransactionInfo()

    let shippingCost = this.getShippingCosts()[shippingOptionId]
    newTransactionInfo.displayItems.push({
      type: 'LINE_ITEM',
      label: 'Shipping cost',
      price: shippingCost,
      status: 'FINAL'
    } as any)

    let totalPrice = 0.00
    newTransactionInfo.displayItems.forEach((displayItem: any) => totalPrice += parseFloat(displayItem.price))
    newTransactionInfo.totalPrice = totalPrice.toString()

    return newTransactionInfo
  }

  getShippingCosts (): any {
    return {
      'shipping-001': '0.00',
      'shipping-002': '1.99',
      'shipping-003': '10.00'
    }
  }

  getGoogleTransactionInfo () {
    return {
      displayItems: [
        {
          label: 'Subtotal',
          type: 'SUBTOTAL',
          price: '11.00'
        },
        {
          label: 'Tax',
          type: 'TAX',
          price: '1.00'
        }
      ],
      countryCode: 'US',
      currencyCode: 'USD',
      totalPriceStatus: 'FINAL',
      totalPrice: `${this.amount}.00`,
      totalPriceLabel: 'Total'
    }
  }

  getGoogleShippingAddressParameters () {
    return {
      allowedCountryCodes: ['US'],
      phoneNumberRequired: true
    }
  }
}

export default GooglePayButton
</script>