<template>
  <div>
    <v-dialog v-model="isVisible" max-width="450">
      <v-card class="pa-6">
        <div class="text-center">
          <h1 class="headline mb-10">Buy X amount of Service Coupons
            <v-btn icon @click="showWhyBuyCouponText = !showWhyBuyCouponText"><v-icon>help_outline</v-icon></v-btn>
          </h1>
        </div>
        <v-dialog v-model="showWhyBuyCouponText" width="350">
          <v-card class="pa-5">
            <h2 class="headline mb-5">Why buy a Service Coupon?</h2>
            🌟 A coupon gives you access to an <b>activation code</b>.
            <br><br>
            🌟 An activation code provides you <b>up to 3 services</b>.
            <br><br>
            🌟 Each service has perks that <b>you can benefit</b> from. For example, a car washing service will help you maintain a healthy sustainable car situation.
            <br><br>
            🌟 You can <b>buy coupons for other people</b> or apply to receive free coupons for a year
          </v-card>
        </v-dialog>
        <!--
        <v-text-field outlined label="Email" placeholder="someone@gmail.com"></v-text-field>
        <div style="display: flex">
          <v-text-field outlined label="Card Number" placeholder="ie. 7374734734" class="mr-6"></v-text-field>
          <v-text-field outlined label="MM / YYYY" placeholder="ie. 12 / 2020" class="mr-6"></v-text-field>
          <v-text-field outlined label="CVC" placeholder="ie. 434"></v-text-field>
        </div>
        -->
        <v-text-field v-model="amountOfCoupons" outlined label="How many Coupons?" placeholder="ie. 100" type="number"></v-text-field>
        <v-textarea outlined label="Why are you buying this amount of Coupons?" placeholder="The military needs more civilians to apply their greatest potential to serve the community"></v-textarea>
        <div class="mb-6">All coupons expire in 1 week since purchase. Your coupons expire on <b>January 20, 2020</b></div>
        <div class="text-center">
          <v-chip class="primary mb-6">Checkout Amount: ${{ amountOfCoupons * costOfCoupon }}</v-chip>
          <GooglePayButton2 :amount="amountOfCoupons * costOfCoupon" />
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

import { State, Mutation } from 'vuex-class'

import GooglePayButton2 from '@/components/GooglePayButton2.vue'

@Component({
  components: {
    GooglePayButton2
  }
})
class PurchaseCouponDialog extends Vue {
  showWhyBuyCouponText: boolean = false

  amountOfCoupons: number = 1
  costOfCoupon: number = 50

/*
  maxRules: any[] = [(value: any) => {
      if (this.amountOfCoupons > this.limit) {
        return 'Error'
      }
    }
      ]
*/
  @State('showPurchaseCouponDialog') showPurchaseCouponDialog?: any

  @Mutation('toggleShowPurchaseCouponDialog') toggleShowPurchaseCouponDialog: any

  get isVisible (): boolean {
    return this.showPurchaseCouponDialog || false
  }

  set isVisible (value: boolean) {
    this.toggleShowPurchaseCouponDialog(value)
  }
}

export default PurchaseCouponDialog
</script>