<template>
  <div>
    <v-dialog v-model="isVisible" max-width="300">
      <v-card class="pa-6">
        <h1 class="headline">You've Purchased a Coupon</h1>
        <div>Here is your activate code:</div>
        <div><b>Xjwo*3935-Kfow3woe23</b>(click to copy)</div>
        <div>Visit the “Your Services” page to see more Coupons you’ve purchased</div>
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

import { State, Mutation } from 'vuex-class'

@Component
class PurchaseCouponSuccessDialog extends Vue {
  @State('showPurchaseCouponSuccessDialog') showPurchaseCouponSuccessDialog?: any

  @Mutation('toggleShowPurchaseCouponSuccessDialog') toggleShowPurchaseCouponSuccessDialog: any

  get isVisible (): boolean {
    return this.showPurchaseCouponSuccessDialog || false
  }

  set isVisible (value: boolean) {
    this.toggleShowPurchaseCouponSuccessDialog(value)
  }
}

export default PurchaseCouponSuccessDialog
</script>