<template>
  <div>
    <v-container text-center>
      <v-card>
        <v-card-title>
          <v-text-field v-model="searchText" label="Search for a service to activate" single-line hide-details append-icon="search"></v-text-field>
        </v-card-title>
        <v-expansion-panels>
          <v-data-table :search="searchText" :items-per-page="itemsPerPage" :footer-props="{ 'items-per-page-options': itemsPerPageOptions }"
            :headers="headers" :items="serviceList" item-key="name" class="elevation-1">
            <template v-slot:item="{ item }">
              <div style="display: flex; text-align: left; max-height: 100px; text-overflow: ellipsis; overflow: hidden" class="ma-6">
                <div class="mr-6">
                  <v-img width="100" :src="exampleImage"></v-img>
                </div>
                <div class="mr-6">
                  <div style="font-weight: bold">{{ item.title }}</div>
                  <div>{{ item.description }}</div>
                </div>
                <div>
                  <v-btn class="primary mb-4" @click="toggleShowActivateCouponDialog(true)">Activate</v-btn>
                  <v-btn @click="toggleShowServiceDetailsDialog(true)">Show Details</v-btn>
                </div>
              </div>
            </template>
          </v-data-table>
        </v-expansion-panels>
      </v-card>
    </v-container>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { State, Mutation } from 'vuex-class'

// import moment from 'moment'

@Component
class SearchService extends Vue {
  @Mutation('toggleShowActivateCouponDialog') toggleShowActivateCouponDialog?: any
  @Mutation('toggleShowServiceDetailsDialog') toggleShowServiceDetailsDialog?: any

  exampleImage: string = 'https://img.youtube.com/vi/7llfUFbYnYQ/0.jpg'

  serviceList: any[] = [{
    title: `Washing people's cars`,
    description: `Washing someone's car is important to treat the person like you love them so much that their car needs to be cleaned for the purpose of treating them with friendly car cleaning service thank you i love you car having person have a clean car please thank you`
  }, {
    title: `Cleaning people's houses`,
    description: `Washing someone's car is important to treat the person like you love them so much that their car needs to be cleaned for the purpose of treating them with friendly car cleaning service thank you i love you car having person have a clean car please thank you`
  }, {
    title: `Self-education: Learn about making money`,
    description: `Washing someone's car is important to treat the person like you love them so much that their car needs to be cleaned for the purpose of treating them with friendly car cleaning service thank you i love you car having person have a clean car please thank you`
  }, {
    title: `Self-education: Leanr about computer programming`,
    description: `Washing someone's car is important to treat the person like you love them so much that their car needs to be cleaned for the purpose of treating them with friendly car cleaning service thank you i love you car having person have a clean car please thank you`
  }, {
    title: `Research & Development: A new programming model`,
    description: `Washing someone's car is important to treat the person like you love them so much that their car needs to be cleaned for the purpose of treating them with friendly car cleaning service thank you i love you car having person have a clean car please thank you`
  }, {
    title: `Person-to-person: Talking`,
    description: `Washing someone's car is important to treat the person like you love them so much that their car needs to be cleaned for the purpose of treating them with friendly car cleaning service thank you i love you car having person have a clean car please thank you`
  }, {
    title: `Person-to-person: Talking over the phone`,
    description: `Washing someone's car is important to treat the person like you love them so much that their car needs to be cleaned for the purpose of treating them with friendly car cleaning service thank you i love you car having person have a clean car please thank you`
  }, {
    title: `Person-to-person: Clean cuddling & friendly social interaction`,
    description: `Washing someone's car is important to treat the person like you love them so much that their car needs to be cleaned for the purpose of treating them with friendly car cleaning service thank you i love you car having person have a clean car please thank you`
  }, {
    title: `Community Service: Volunteering at local pet store`,
    description: `Washing someone's car is important to treat the person like you love them so much that their car needs to be cleaned for the purpose of treating them with friendly car cleaning service thank you i love you car having person have a clean car please thank you`
  }, {
    title: `Community Service: Volunteering as ambulance assistant driver`,
    description: `Washing someone's car is important to treat the person like you love them so much that their car needs to be cleaned for the purpose of treating them with friendly car cleaning service thank you i love you car having person have a clean car please thank you`
  }, {
    title: `College Service: Tutor`,
    description: `Washing someone's car is important to treat the person like you love them so much that their car needs to be cleaned for the purpose of treating them with friendly car cleaning service thank you i love you car having person have a clean car please thank you`
  }]

  searchText: string = ''
  itemsPerPage: number = 5
  itemsPerPageOptions = [5, 10, 15, -1]

  headers: any[] = [
    { text: '', sortable: false, value: 'title' },
    { text: '', sortable: false, value: 'description' }
  ]
}

export default SearchService
</script>