<template>
  <div>
    <v-dialog v-model="isVisible" max-width="450">
      <v-card class="pa-6">
        <h1>Service Title</h1>
        <h2>Service Description</h2>
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

import { State, Mutation } from 'vuex-class'

@Component
class ServiceDetailsDialog extends Vue {
  @State('showServiceDetailsDialog') showServiceDetailsDialog?: any

  @Mutation('toggleShowServiceDetailsDialog') toggleShowServiceDetailsDialog: any

  get isVisible (): boolean {
    return this.showServiceDetailsDialog || false
  }

  set isVisible (value: boolean) {
    this.toggleShowServiceDetailsDialog(value)
  }
}

export default ServiceDetailsDialog
</script>