<template>
  <div>
    <!--
    <v-container text-center>
      <v-btn class="ma-2" tile color="primary" @click="isVisibleHistory = !isVisibleHistory">
        <v-icon left>list</v-icon>
        <div v-if="!isVisibleHistory">Show Transaction History</div>
        <div v-else>Hide Transaction History</div>
      </v-btn>
    </v-container>
    -->
    <!--
    <v-tabs v-show="isVisibleHistory" centered show-arrows background-color="transparent">
        <v-tab v-for="transactionItem in transactionListTabs" :key="transactionItem.name">
            {{ transactionItem.name }}
        </v-tab>
    </v-tabs>
    -->
    <v-container v-show="isVisibleHistory" text-center>
      <v-card>
        <v-card-title>
          <v-text-field v-model="searchText" label="Search Transaction History" single-line hide-details append-icon="search"></v-text-field>
        </v-card-title>
        <v-data-table :search="searchText" :items-per-page="itemsPerPage" :footer-props="{ 'items-per-page-options': itemsPerPageOptions }"
          :headers="headers" :items="transactionList" item-key="name" class="elevation-1">
          <template v-slot:item.account="{ item }">
            <v-chip color="indigo" dark @click="toggleShowAccountDialog(true)">
              <v-avatar left>
                <v-img src="https://cdn.vuetifyjs.com/images/john.png"></v-img>
              </v-avatar>
              {{ item.account }}
            </v-chip>
          </template>
        </v-data-table>
      </v-card>
    </v-container>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
// import { State, Mutation } from 'vuex-class'

// import moment from 'moment'

@Component
class TransactionHistoryList extends Vue {
  // @Mutation('toggleShowAccountDialog') toggleShowAccountDialog: any

  searchText: string = ''
  transactionListTabs: Array<{ name: string }> = [{
    name: 'All Transactions'
  }, {
    name: 'Outgoing Transfer'
  }, {
    name: 'Incoming Transfer'
  }]
  isVisibleHistory: boolean = true
  itemsPerPage: number = 5
  itemsPerPageOptions = [5, 10, 15, -1]
  transactionList: any[] = [{
    description: 'Yogurt',
    date: 'January 12, 2003',
    amount: 6.00,
    type: 'Sent to',
    balance: 32324,
    account: 'Jennifer Aniston'
  }, {
    description: 'Ice cream',
    date: 'February 12, 2001',
    amount: 96565.00000870,
    type: 'Received from',
    balance: 37,
    account: 'Emily Mansion'
  }, {
    description: 'Blueberries',
    date: 'March 12, 2080',
    amount: 16.9980,
    type: 'Sent to',
    balance: 23.32,
    account: 'Emma Stone'
  }, {
    description: 'Dog food',
    date: 'April 12, 2010',
    amount: 3.738474,
    type: 'Received from',
    balance: 67,
    account: 'Bianca Beatrice'
  }, {
    description: 'Strawberries',
    date: 'May 12, 1999',
    amount: 1683.0,
    type: 'Sent to',
    balance: 49,
    account: 'Robin Rakefist'
  }, {
    description: 'Pizza',
    date: 'June 12, 2029',
    amount: 0.134,
    type: 'Received from',
    balance: 94,
    account: 'Micah Stonehouse'
  }, {
    description: 'Lemonade',
    date: 'July 12, 2012',
    amount: 0.2,
    type: 'Sent to',
    balance: 98,
    account: 'Angela Stevens'
  }, {
    description: 'Bicycle',
    date: 'November 12, 2019',
    amount: 3.2,
    type: 'Received from',
    balance: 87,
    account: 'Barbara Robins'
  }, {
    description: 'Donuts',
    date: 'September 3, 1996',
    amount: 25.0,
    type: 'Received from',
    balance: 51,
    account: 'Monica Roughhouse'
  }, {
    description: 'Gummy bears',
    date: 'January 3, 2018',
    amount: 26.00,
    type: 'Sent to',
    balance: 65,
    account: 'Shelby Price'
  }]

  headers: any[] = [
    { text: 'Date', value: 'date' },
    { text: 'Type', value: 'type' },
    { text: 'Account', value: 'account' },
    { text: 'Description', align: 'left', sortable: false, value: 'description' },
    { text: 'Amount', value: 'amount' },
    { text: 'Balance', value: 'balance' }
  ]

  mounted () {
    this.updateTransactionList()
  }

  updateTransactionList () {
    for (let i = 0; i < this.transactionList.length; i++) {
      const currentDate = this.transactionList[i].date
      const newDate = this.timeSince(currentDate)
      this.transactionList[i].date = `Transferred ${newDate} (${currentDate})`
    }
  }

  timeSince (date: any): string {
    return ''
    // return moment(date, 'MMM DD, YYYY').fromNow()
  }
}

export default TransactionHistoryList
</script>