<template>
  <v-app dark>
    <v-app-bar app color="primary" >
      <div class="headline pr-2">🌎☀️</div>
      <v-toolbar-title class="white--text">A Local Community Service Company</v-toolbar-title>
      <v-spacer></v-spacer>
      <AutocompleteSearch />
      <v-btn class="ml-5" depressed color="#FDD835">
        <v-icon left>settings</v-icon>
        Your Coupons
      </v-btn>
    </v-app-bar>

    <v-content>
      <router-view/>
    </v-content>

    <PurchaseCouponDialog />
    <PurchaseCouponSuccessDialog />
    <ActivateCouponDialog />
    <ActivateCouponSuccessDialog />
    <ServiceDetailsDialog />
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

import AutocompleteSearch from '@/components/AutocompleteSearch.vue'

import PurchaseCouponDialog from '@/components/PurchaseCouponDialog.vue'
import PurchaseCouponSuccessDialog from '@/components/PurchaseCouponSuccessDialog.vue'

import ActivateCouponDialog from '@/components/ActivateCouponDialog.vue'
import ActivateCouponSuccessDialog from '@/components/ActivateCouponSuccessDialog.vue'

import ServiceDetailsDialog from '@/components/ServiceDetailsDialog.vue'

@Component({
  components: {
    AutocompleteSearch,
    PurchaseCouponDialog,
    PurchaseCouponSuccessDialog,
    ActivateCouponDialog,
    ActivateCouponSuccessDialog,
    ServiceDetailsDialog
  }
})
class App extends Vue {}

export default App
</script>
